[submodule "1-API-INTEGRATION"]
	path = 1-API-INTEGRATION
	url = https://github.com/beherakhirod689-dot/API-INTEGRATION
[submodule "2-CHAT-APPLICATION"]
	path = 2-CHAT-APPLICATION
	url = https://github.com/beherakhirod689-dot/CHAT-APPLICATION
[submodule "3-REAL-TIME-COLLABORATIVE-DOCUMENT-EDITOR"]
	path = 3-REAL-TIME-COLLABORATIVE-DOCUMENT-EDITOR
	url = https://github.com/beherakhirod689-dot/REAL-TIME-COLLABORATIVE-DOCUMENT-EDITOR
[submodule "4-CHROME-EXTENSION-FOR-TIME-TRACKING-AND-PRODUCTIVITY-ANALYTICS"]
	path = 4-CHROME-EXTENSION-FOR-TIME-TRACKING-AND-PRODUCTIVITY-ANALYTICS
	url = https://github.com/beherakhirod689-dot/CHROME-EXTENSION-FOR-TIME-TRACKING-AND-PRODUCTIVITY-ANALYTICS